.w3-theme {
  color: rgb(0, 0, 0) !important;
  background-color: #fceb3b !important;
}

.w3-code {
  border-left: 0px solid #000000;
}

.w3-text-IE {
  color: #000000 !important;
}

.myMenu {
  margin-bottom: 150px;
}

#Imagem {
  display: none;
}

#imagemSelecionada {
  width: 20%;
  height: auto;
}

.background {
  background-color: #0e0e0e;
}
